# Archivos y carpetas de compilación de la plataforma
/android/app/build/
/android/build/
/android/.gradle/
/android/gradle/
/android/local.properties

/ios/build/
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/.symlinks/
/ios/Runner/GeneratedPluginRegistrant.*

# Carpetas y archivos de Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
/build/
/coverage/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

#.vscode/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json